.mappopup {
  background: #FFFFFF;
  position: absolute;
  border-width:1px;
  border-style:solid;
  border-color:black;
  border-size:1px;
  z-index: 10;
  visibility: hidden;
 }
 
 .mapContainer {
  overflow:hidden;
  position: absolute;
  border-width:1px;
  border-style:solid;
  border-color:black;
  border-size:1px;
  z-index: 14;
  visibility: hidden;
 }
 
 .mappopupresize{
    position: absolute;
    z-index: 16;
    width: 25px;
    height: 25px;
    cursor: se-resize;
    background: url(images/resize.gif) no-repeat;
}
 
.mapimage{
    width: 25px;
    height: 25px;
    cursor:pointer;
    background: url(images/map-popup.jpg) no-repeat;
}

.mapclose{
    position: absolute;
    z-index: 16;
    width: 8px;
    height: 8px;
    cursor:pointer;
    background: url(images/close.gif) no-repeat;
}

.arrowimage{
    position:absolute;
    visibility: hidden;
    z-index: 15;
    width: 25px;
    height: 25px;
    background: url(images/arrow-left.gif) no-repeat;
}